.skill_bar{
    background-color: #ffffff48;
}
.bar1 .skill_bar::before{
   width: 95%;
 animation: 2s linear 1s 1 running loading1;
}
.bar2 .skill_bar::before{
   width: 85%;
 animation: 2s linear 1s 1 running loading2;
}
.bar3 .skill_bar::before{
   width: 75%;
 animation: 2s linear 1s 1 running loading3;
}
.bar4 .skill_bar::before{
   width: 85%;
 animation: 2s linear 1s 1 running loading4;
}
.bar5 .skill_bar::before{
   width: 60%;
 animation: 2s linear 1s 1 running loading5;
}
.bar6 .skill_bar::before{
   width: 70%;
 animation: 2s linear 1s 1 running loading6;
}
.bar7 .skill_bar::before{
   width: 80%;
 animation: 2s linear 1s 1 running loading7;
}



@keyframes loading1 {
  0% {
    width: 0%;
  }
  100% {
   width: 95%;
  }
}
@keyframes loading2 {
  0% {
    width: 0%;
  }
  100% {
      width: 85%;
  }
}
@keyframes loading3 {
  0% {
    width: 0%;
  }
  100% {
  width: 75%;
  }
}
@keyframes loading4 {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes loading5 {
  0% {
    width: 0%;
  }
  100% {
     width: 60%;
  }
}
@keyframes loading6 {
  0% {
    width: 0%;
  }
  100% {
     width: 70%;
  }
}
@keyframes loading7 {
  0% {
    width: 0%;
  }
  100% {
     width: 80%;
  }
}
